# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.base.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.prod.yml

# Python 虚拟环境
.venv/
venv/
ENV/

# Python 缓存
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# 配置文件
.env
.env.*
!.env.example
conf/nginx.template.conf
conf/gcp-credentials.json

# 本地数据和日志
logs/
*.log
shared_media/
staticfiles/

# 文档
doc/
README.md

# distrubution目录
dist/

# 部署用途的脚本
init.sh
install_deps.sh
package_deploy.sh

# tests
tests/