# docker-compose.yml
# version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/app
      - ./conf/gcp-credentials.json:/app/conf/gcp-credentials.json:ro
      - ./shared_media:/app/shared_media
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment: # <-- 新增：设置时区
      - TZ=Asia/Shanghai
      - GOOGLE_APPLICATION_CREDENTIALS=/app/conf/gcp-credentials.json

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "8543:8543"
    environment:
      - TZ=Asia/Shanghai
    env_file:
      - .env

  redis:
    image: redis:7
    environment: # <-- 新增：设置时区
      - TZ=Asia/Shanghai

  worker:
    build: .
    command: celery -A core.celery worker -l info
    volumes:
      - .:/app
      - ./conf/gcp-credentials.json:/app/conf/gcp-credentials.json:ro
      - ./shared_media:/app/shared_media
    depends_on:
      - redis
      - db
    env_file:
      - .env
    environment: # <-- 新增：设置时区
      - TZ=Asia/Shanghai
      - GOOGLE_APPLICATION_CREDENTIALS=/app/conf/gcp-credentials.json

volumes:
  postgres_data: