version: '3.8'
services:
  web:
    # [PROD] 使用您在 GHCR 上的镜像
    image: ghcr.io/weizhangcs/visify-ss-cloud:latest
    # [PROD] 使用 gunicorn 启动，而不是 runserver
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      # [PROD] 挂载生产环境的静态文件、媒体文件和配置
      - ./staticfiles:/app/staticfiles
      - ./shared_media:/app/shared_media
      - ./conf/gcp-credentials.json:/app/conf/gcp-credentials.json:ro
    expose:
      - 8000 # 仅向 Nginx 暴露端口
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - TZ=Asia/Shanghai
    env_file:
      - .env

  redis:
    image: redis:7

  worker:
    # [PROD] 使用您在 GHCR 上的镜像
    image: ghcr.io/weizhangcs/visify-ss-cloud:latest
    command: celery -A core.celery worker -l info
    volumes:
      - ./shared_media:/app/shared_media
      - ./conf/gcp-credentials.json:/app/conf/gcp-credentials.json:ro
    depends_on:
      - redis
      - db
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
            - ./conf/nginx.template.conf:/etc/nginx/conf.d/default.conf.template
            - ./staticfiles:/app/staticfiles:ro
    depends_on:
      - web
    # [新增] 注入 Nginx 启动时需要替换的环境变量
    environment:
      - SERVER_DOMAIN # <-- Nginx 容器将从 .env 中获取这个变量的值
    # [新增] 使用 entrypoint 替代 command，在启动 Nginx 前执行替换
    entrypoint: /bin/sh -c "envsubst '$$SERVER_DOMAIN' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    # 注意：$$SERVER_DOMAIN 中的 $$ 是为了防止 Docker Compose 在启动前将其替换，
    # 确保 $SERVER_DOMAIN 变量被传递给 Nginx 容器内部的 shell。

volumes:
  postgres_data:
