# docker-compose.prod.yml
# 注意：version 字段已废弃（Docker Compose v1.27+）
# version: '1.2.0'

services:
  web:
    image: ghcr.io/weizhangcs/vss-cloud:latest
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./shared_media:/app/shared_media

  worker:
    image: ghcr.io/weizhangcs/vss-cloud:latest
    volumes:
      - ./shared_media:/app/shared_media

  nginx:
    image: nginx:latest
    ports:
      - "80:80" # 生产环境使用 80
    volumes:
      - ./conf/nginx.template.conf:/etc/nginx/conf.d/default.conf.template
      - ./staticfiles:/app/staticfiles:ro
    depends_on:
      - web
    environment:
      - SERVER_DOMAIN
    entrypoint: /bin/sh -c "envsubst '$$SERVER_DOMAIN' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"