# docker-compose.test.yml
# 注意：version 字段已废弃（Docker Compose v1.27+）
# version: '1.2.0'

services:
  web:
    image: ghcr.io/weizhangcs/vss-cloud:dev
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./shared_media:/app/shared_media

  worker:
    image: ghcr.io/weizhangcs/vss-cloud:dev
    volumes:
      - ./shared_media:/app/shared_media

  # Nginx 仅在 Test/Prod 环境启用
  nginx:
    image: nginx:latest
    ports:
      - "8080:80" # 测试环境使用 8080，避免与宿主机 80 冲突
    volumes:
      - ./conf/nginx.template.conf:/etc/nginx/conf.d/default.conf.template
      - ./staticfiles:/app/staticfiles:ro
    depends_on:
      - web
    environment:
      - SERVER_DOMAIN
    entrypoint: /bin/sh -c "envsubst '$$SERVER_DOMAIN' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"