# docker-compose.dev.yml
# -----------------------------------------------------------------------------
# 描述: 开发环境 (Development)
# 特性:
#   1. 源码挂载 (Hot Reload)
#   2. 单进程 Worker (便于调试)
#   3. 数据不做物理绑定 (使用 Docker 匿名卷，保持项目目录整洁)
# -----------------------------------------------------------------------------

services:
  # --- 基础设施 (使用阿里云私有镜像加速) ---
  db:
    image: crpi-34v4qt829vtet2cy.cn-hangzhou.personal.cr.aliyuncs.com/vss_base/postgres:16-alpine
    ports:
      - "8543:5432" # 避免占用宿主机默认端口

  redis:
    image: crpi-34v4qt829vtet2cy.cn-hangzhou.personal.cr.aliyuncs.com/vss_base/redis:7-alpine
    restart: always
    ports:
      - "8637:6379"

  # --- 应用服务 (源码模式) ---
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/app # [Dev特有] 挂载当前目录源码
      - ./shared_media:/app/shared_media
    ports:
      - "8001:8001"

  # --- Workers (调试模式) ---
  # 策略: 使用 solo/threads 池，避免 prefork 导致的调试困难和资源锁死
  worker_gemini:
    build: .
    command: celery -A core worker -Q queue_gemini --pool=solo --without-gossip --without-mingle --without-heartbeat -l info
    volumes:
      - .:/app
      - ./shared_media:/app/shared_media

  worker_audio:
    build: .
    command: celery -A core worker -Q queue_audio --pool=solo --without-gossip --without-mingle --without-heartbeat -l info
    volumes:
      - .:/app
      - ./shared_media:/app/shared_media

  worker_io:
    build: .
    command: celery -A core worker -Q queue_io,celery --pool=solo --without-gossip --without-mingle --without-heartbeat -l info
    volumes:
      - .:/app
      - ./shared_media:/app/shared_media